---
title: Awesome
---
%article 
    :markdown
        DRcable,also known as (T.) Walpole, likes to make things. They often do this by [writing code](https://github.com/drcable/), but they also [write english](/Blog/), [speak english](/Talks/), and make physical things. If you want to stalk them(or say hi), take a look [here](/Elsewhere/) and if you're confused about all the "they", then you should read [this](/Gender/). 

        Here's some of their recent writing:
-for item in sorted_articles
    =render "articleRender" ,:article => item
