---
title: Bots
headerImg: "/images/bots.JPG"
tags: ['front']
smallimg: "/images/bots_small.JPG"
---


<p>The bots where an examination of what it is to be human by showing people what it's like to see through a machines eyes.</p>
<p>Traditional attempts to communicate how a computer experiences the world, such as screenshots of "machine vision" and photos of somones face are fundementaly flawed by the effort to map these senses onto a human model.</p>
<p>They can be found at <a href="//twitter.com/pg_bible">@pg_Bible</a> , <a href="//repeatafteryou.tumblr.com">repeatafteryou.tumblr.com</a> and <a href="//awarpedmirror.tumblr.com/">awarpedmirror.tumblr.com/</a>.</p>

=render 'grid', :tag => 'bots'
