---
title: Hashnote
headerImg: "/images/hashnote.png"
tags: ['front']
smallimg: "/images/hashnote-small.png"
kind: article
---
<p>Hashnote is an experiment in building a better metacortex- the part of the brain that resides outside the skull, in our inboxes and todo lists, our sketchbooks and social accounts. </p>
<p>It attempts to map the connections between each scribbled note and thereby provide an idea of what's going on in our heads at any point. </p>
<p>It is a respnsive website and bookmarklet availabe to run localy on <a href="https://github.com/drcable/hashnote" >github</a>
