---
title: Anti-CCTV hoodie
kind: article
headerImg: "/images/hoodie.JPG"
tags: ['front']
smallimg: "/images/hoodie_small.JPG"
---
<p>The anti-surveilance hoodie is a piece of clothing for protestors, dissidents and people who value privacy. It uses infa-red LEDs in the collar to render CCTV cameras useless while allowing the user to connect to people on  normal level. </p>
<p>State surveilance is becoming an increasingly menacing reality, but covering the full face with scarves and fading into the mob is no-longer a viable option: we need to be able to go about our normal buisness without fear. We need a Do not track for the real world. </p>
<p> This garment attempts to take the first step- The cctv blocking works even with the collar and hood down, allowing human connections to form but blocking all machine eyes</p>
