---
title: Why Wow
headerImg: "/images/wow.png"
tags: ['front']
smallimg: "/images/wow-small.png"
---
Created for the wowhack hackathon to combat the misunderstanding of feminism and the issues surounding it.
<a href="http://mseckington.github.io/wow-hack/" >The current version</a> Is 99%+ my own code, though the hackathon version included a rails backend by <a href="https://twitter.com/mseckington" >Melinda Seckington</a>.
The design and UX was done by <a href="https://twitter.com/clementgraphics" >Jeanette Clement</a>. Some research was done by <a href="https://twitter.com/issyl0" >Isabell Long</a>
