---
title: '@echochamberbot'
subTitle: Reflecting people back on themselves.
headerImg: "/images/echochamber.JPG"
smallimg: "/images/echochamber_small.JPG"
tags: ['bots']
---
<p>The sequel to the fanbots and final bot in the series, echochamberbot grabs the voices of those who follow it and mixing them, creating a hivemind that speaks back to them. </p>
<p>The piece extends the involvement of people by showing them pieces of themeselves in the machine, dragging their identity in front of them ireverently.</p>
=render 'grid', :tag => 'bots'
