---
title: 'The fan bots'
subTitle: repeatafteryou and awarpedmirror present fans back to themselves.
headerImg: "/images/fanbots.JPG"
smallimg: "/images/bots_small.JPG"
tags: ['bots']
---
<p>pg_bible is, as it's bio reads, a bot that tweets "procedurally generated bible quotes"- It takes the bible chooses a random word, then trys to guess what comes next.</p>
<p>Seeing the familiar as presented through the "eyes" of a bot pushes the difference into peoples eyes, and also humanizes the bot, making people wonder about humanity and origionality.</p>

